#addTextContainer {
	display: flex;
  	flex-direction: row-reverse;
  	flex-wrap: wrap;
  	align-items: flex-start;
}
  
#addTextContainer button {
	height: 1.6rem !important;
  	padding: 0 .5rem !important;
  	vertical-align: top !important;
	margin: 0 0.1em 3px !important;
/*	min-width: 4em;*/
}

.dw-save-link {
	margin-left: 8px;
    text-decoration: underline;
    cursor: pointer
}